@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jam Notes</h1>
    <p class="lead">Jam Notes is a website designed for fans of jam bands to store notes about their favorite jams from various bands.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            Can't remember the details of that awesome jam you were listening to the other day? 
            Create an account to start storing notes about the music you love today.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Organize your notes</h2>
        <p>View your notes by band, song, or date.</p>
    </div>
    <div class="col-md-4">
        <h2>A community site</h2>
        <p>
            Note only can you store your own notes, but you can view notes submitted by all users.
            Start contributong today to a wonderful community resource!
        </p>
    </div>
</div>